{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": ["Dockerfile", "dockerfile", "*.dockerfile"],
      "options": {
        "parser": "sh"
      }
    }
  ]
}
