# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Tool cache
.cache/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Environment
.env*
**/.env*
!.env.example
!**/.env.example

# Logs & Data
*.log
*.db
*.sqlite3

# Tests
tests/

# IDE
.vscode/
